@font-face {
    font-family: "christmas";
    src: url("christmas_bell/christmas.otf");
}

.container,
.container * {
    font-family: "christmas";
    box-sizing: border-box;
    margin: 0;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-5/hol417.cur), auto !important;
}

.container {
    /* background-image: url(https://cdn.hswstatic.com/gif/santa-claus-orig.jpg);
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(#ae0103, #430100);
    user-select: none;
}

.title {
    color: #1E792C;
    font-size: 64px;
    text-shadow: 5px 5px 10px #000;
}

.time {
    color: #fff;
    font-size: 48px;
}